<div id="podcast_show">
		<div id="show_banner">
			<div class="wrapper_thin">
				<h1><%= @podcast.title %></h1>
			</div>
		</div>
			
		<div id="links">
			<div class="wrapper_thin">
				<ul>
					<li><%= link_to "Episodes", root_path %></li> <!-- dynamic link for the episodes root path to the podcast#dashboard -->
					<li><%= link_to "New Episode", new_podcast_episode_path(@podcast) %></li> <!-- dynamic link to new episode nested within a podcast, found in rake routes -->
					<li><%= link_to "Account Settings", edit_podcast_registration_path, class: "current" %></li> <!-- dynamic link to edit a podcast path -->
					<li><%= link_to "View Podcast", podcast_path(current_podcast) %></li> <!-- dynamic link to the podcast path of the current users podcast -->
				</ul>
			</div>
		</div>
</div>
<div id="form">
  <div class="wrapper_thin">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %> <!-- Devise form -->
      <%= devise_error_messages! %>
      
      <div class="field">
        <%= f.label :title %><br /> <!-- label for episode title -->
        <%= f.text_field :title, autofocus: true %> <!-- episodetitle input field -->
      </div>
      
      <div class="field">
        <%= f.label :description %><br /> <!-- label for episode description -->
        <%= f.text_area :description %> <!-- episode description input field -->
      </div>
      
      <div class="field">
        <%= f.label :thumbnail %><br /> <!-- paperclip -->
        <%= f.file_field :thumbnail %>  <!-- paperclip -->
      </div>
    
      <div class="field">
        <%= f.label :email %><br /> <!-- label for user email -->
        <%= f.email_field :email, autocomplete: "email" %> <!-- email input field -->
      </div>
    
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %> <!-- Devise source -->
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      
      <h2>Links</h2>
      
      <div class="field">
        <%= f.label :itunes %><br /> <!-- label for itunes link -->
        <%= f.text_field :itunes %> <!-- itunes link input field -->
      </div>
      
      <div class="field">
        <%= f.label :twitter %><br /> <!-- label for twitter link -->
        <%= f.text_field :twitter %> <!-- twitter link input field -->
      </div>
      
      <div class="field">
        <%= f.label :instagram %><br /> <!-- label for instagram link -->
        <%= f.text_field :instagram %> <!-- instagram link input field -->
      </div>
    
      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br /> <!-- Label for podcast password -->
        <%= f.password_field :password, autocomplete: "new-password" %> <!-- password input field -->
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
    
      <div class="field">
        <%= f.label :password_confirmation %><br /> <!-- Label for podcast password confirmation -->
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %> <!-- confirm password input field -->
      </div>
    
      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br /> <!-- Label for podcast  current password -->
        <%= f.password_field :current_password, autocomplete: "current-password" %> <!-- current password input field -->
      </div>
    
      <div class="actions">
        <%= f.submit "Update", class: "button button_highlight button_block" %> <!-- Form Submit Update button -->
      </div>
    <% end %> <!-- End Form -->
    
    <h3>Cancel my account</h3>
    
    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> <!-- Devise delete method -->
  </div>
</div>
