 <%= form_for ([@podcast, @episode]) do |f| %> <!-- Nested form, episode within podcast -->
            <div class="field">
                <%= f.label :title %><br> <!-- Form title -->
                <%= f.text_field :title %> <!-- Form title input area -->
            </div>
            <div class="field">
                <%= f.label :description %><br> <!-- Form description -->
                <%= f.text_area :description %> <!-- Form description input area -->
            </div>
            <div class="field">
                <%= f.label :episode_thumbnail %><br> <!-- paperclip -->
                <%= f.file_field :episode_thumbnail %> <!-- paperclip image upload area for episode -->
            </div>
            
            <div class="field">
                <%= f.label :mp3 %><br> <!-- paperclip -->
                <%= f.file_field :mp3 %> <!-- paperclip mp3 upload area for episode -->
            </div>
            
            <%= f.submit class: "button button_highlight button_block" %> <!-- Form submit button -->
        <% end %>