<div id="podcast_show">
			<div id="show_banner">
				<div class="wrapper_thin">
					<h1><%= @podcast.title %></h1> <!-- Using the @podcast method defined in the podcasts controller, finds by params of title -->
					<p class="description"><%= @podcast.description %></p> <!-- Using the @podcast method defined in the podcasts controller, finds by params of description -->
					<% unless @podcast.itunes.blank? %> <!-- only show the link, if it's not blank -->
					<a href="<%= @podcast.itunes %>" class="subscribe_link">iTunes</a>  <!-- Using the @podcast method defined in the podcasts controller, finds by params of itunes-->
					<% end %>
					<% unless @podcast.twitter.blank? %> <!-- only show the link, if it's not blank -->
					<a href="<%= @podcast.twitter %>" class="subscribe_link">Twitter</a>  <!-- Using the @podcast method defined in the podcasts controller, finds by params of twitter -->
					<% end %>
					<% unless @podcast.instagram.blank? %> <!-- only show the link, if it's not blank -->
					<a href="<%= @podcast.instagram %>" class="subscribe_link">Instagram</a>  <!-- Using the @podcast method defined in the podcasts controller, finds by params of instagram -->
					<% end %>
				</div>
			</div>
			
			<div id="breadcrumb">
			    <%= link_to podcasts_path do %> <!-- dynamic link redirecting user back to podcasts index -->
    				All Podcasts
    				<span>/</span>
    				<%= link_to @podcast.title, podcast_path(@podcast) %> <!-- finding the podcast title using the @podcast method, with a link back to podcast index -->
    				<span>/</span>
    				<%= @episode.title %> <!-- finding the episode title using the @episode method -->
			    <% end %>
			</div>
			
			<div id="episode_content">
				<div class="wrapper_thin">
					<%= image_tag @episode.episode_thumbnail.url(:medium), class: "current_episode_thumbnail" %> <!-- paperclip -->
					<h2><%= @episode.title %></h2> <!-- Loop through the episode content using the @episode method -->
					<p class="description"><%= @episode.description %></p> <!-- Loop through the episode content using the @episode method -->
					
					<div id="jquery_jplayer_1" class="jp-jplayer"></div> <!-- html for jplayer -->
				      <div id="jp_container_1" class="jp-audio">
				        <div class="jp-type-single">
				          <div class="jp-gui jp-interface">
				            <ul class="jp-controls">
				              <li><a href="javascript:;" class="jp-play" tabindex="1">&#61515;</a></li>
				              <li><a href="javascript:;" class="jp-pause" tabindex="1">&#61516;</a></li>
				              <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">&#61480;</a></li>
				              <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">&#61478;</a></li>
				            </ul>
				
				            <div class="jp-progress">
				              <div class="jp-seek-bar">
				                <div class="jp-play-bar"></div>
				              </div>
				            </div>
				
				            <div class="jp-time-holder">
				              <div class="jp-current-time"></div>
				            </div>
				
				            <div class="jp-volume-bar">
				              <div class="jp-volume-bar-value"></div>
				            </div>
				
				            <div class="jp-no-solution">
				              <span>Update Required</span>
				              To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
				            </div>
				          </div>
				        </div>
				      </div> <!-- jplayer end -->
				</div>
			</div>
			
			<div id="episodes">
			    <div class="wrapper_thin">
			        <ul class="clearfix">
			            <% @episodes.each do |episode| %> <!-- Loop through episodes -->
			            <li class="clearfix">
			            	<div class="episode_thumbnail">
			            		<%= image_tag episode.episode_thumbnail.url(:medium) %> <!-- paperclip -->
			            	</div>
				               <div class="episode_overview">
				                   <h2><%= link_to episode.title, podcast_episode_path(@podcast, episode) %></h2> <!-- a link to episode title, using the podcast episode path in the episodes controller -->
									<p class="description"><%= truncate(episode.description, length: 150) %></p> <!-- getting the episode description using the truncate method to limit the characters to 150 -->
				               </div>
			            </li>
			            <% end %> <!-- end Loop -->
			        </ul>
			    </div>
			</div>
		
</div>


		<script>
				$(document).ready(function(){ // adding it to document with ready function
				  $("#jquery_jplayer_1").jPlayer({ // finding the id of jquery_player_1 & starting the jplayer
				    ready: function () {
				      $(this).jPlayer("setMedia", {
				        mp3: "<%= @episode.mp3.url %>", // getting the episode mp3 url
				      });
				    },
				    swfPath: "/js",
				    supplied: "mp3"
				  });
				});
		</script>