<!DOCTYPE html>
<html>
  <head>
    <title>DalyPodcast</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if alert %> <!-- if its an alert show the alert -->
      <p class="alert"> <!-- displayed to user  -->
        <%= alert %>
        </p>
    <% elsif notice %> <!-- if its a notice, show the notice -->
      <p class="notice"> <!-- displayed to user , and want it used on every page so inserted into applcation.html.erb -->
        <%= notice %>
      </p> 
    <% end %>
    <%= yield %> <!-- where every other template gets rendered in -->
  </body>
</html>
