<!DOCTYPE html>
<html>
  <head>
    <title>DalyPodcast</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if alert %> <!-- if its an alert show the alert -->
      <p class="alert"> <!-- displayed to user  -->
        <%= alert %>
        </p>
    <% elsif notice %> <!-- if its a notice, show the notice -->
      <p class="notice"> <!-- displayed to user , and want it used on every page so inserted into applcation.html.erb -->
        <%= notice %>
      </p> 
    <% end %>
    
        <header id="main_header" class="clearfix">
    		<div class="wrapper_deep">
    			<%= link_to "Dalypodcast.ie", root_path, id: "logo" %> <!-- dynmaic link in the header, redirecting user back to root path -->
    			<nav>
    			<ul>
    			  <% unless podcast_signed_in? %> <!-- unless the podcast(user) is signed in) -->
    					<li><%= link_to "Discover", podcasts_path %></li> <!-- dynmaic link to the podcasts#index -->
    					<li><%= link_to "Login", new_podcast_session_path %></li> <!-- creating a dynamic link using the new_podcast_session_path route, so the user can login -->
    					<li><%= link_to "Create a Podcast", new_podcast_registration_path %></li> <!-- creating a dynamic link using the new_podcast_registration_path route -->
    					<% else %> <!-- else show the sign_out link & dashbaord -->
    					<li><%= link_to "Dashboard", root_path %></li>
    					<li><%= link_to "Discover", podcasts_path %></li> <!-- dynmaic link to the podcasts#index -->
    					<li><%= link_to "Sign Out", destroy_podcast_session_path, method: :delete %></li> <!-- creating a dynamic link using the destroy_podcast_session_path route, so the user can logout -->
    				<% end %>
    			</ul>
    			</nav>
    		</div>
    	</header>
    <%= yield %> <!-- where every other template gets rendered in -->
  </body>
</html>
